{% comment %}
  Display the feature
  
  @param {Object} page
  @param {string} [id='page-features'] - HTML id to use with the feature
  @param {boolean} [no_margin=false]
  @returns {void}
{% endcomment %}

{% if page.features_count > 0 %}
  {% if page.features.size > 0 %}

    {% unless id %}
      {% assign id = "page-features" %}
    {% endunless %}

    <div id="{{ id | default: 'page-features' }}" class="carousel slide {% if no_margin %}mb-0{% endif %}" data-ride="carousel">
      {% if page.features_count > 1 %}
        <ol class="carousel-indicators m-0">
          {% for feature in page.features %}
            <li data-target="#{{ id | default: 'page-features' }}" data-slide-to="{{ forloop.index0 }}" class="rounded-circle {% if forloop.first %}active{% endif %}"></li>
          {% endfor %}
        </ol>
      {% endif %}

      <div class="carousel-inner">
        {% for feature in page.features %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <a href="{{ feature.page.url }}" class="d-block position-relative h-100">
              <img src="{{ feature.image_url }}" class="d-block w-100 h-100" height="{{ feature.image_height }}" width="{{ feature.image_width }}"/>

              {% if feature.headline.size > 0 %}
                {% assign components = feature.headline | split:"|" %}

                <div class="carousel-caption {% unless page.features_count > 1 and page.features.size > 1 %}single{% endunless %}">
                  <div class="container">

                    {% if page.is_homepage? %}
                      <h1 class="text-white d-inline-block px-sm-5 mt-2 mb-3">
                        {{ components[0] }}
                      </h1>
                    {% else %}
                      <h2 class="text-white d-inline-block px-sm-5 mt-2 mb-3">
                        {{ components[0] }}
                      </h2>
                    {% endif %}

                    {% if components.size == 2 %}
                      <button class="btn btn-primary mb-3" data-fullurl="{{ feature.page.full_url }}">{{ components[1] }}</button>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            </a>
          </div>
        {% endfor %}
      </div>

      {% if page.features.size > 1 %}
        <a class="left carousel-control-prev d-none d-sm-flex align-items-center justify-content-center position-absolute" href="#{% if id %}{{ id }}{% else %}page-features{% endif %}" role="button" data-slide="prev" aria-label="Previous">
          <i class="fas fa-chevron-left" aria-hidden="true"></i>
        </a>

        <a class="right carousel-control-next d-none d-sm-flex align-items-center justify-content-center position-absolute" href="#{% if id %}{{ id }}{% else %}page-features{% endif %}" role="button" data-slide="next" aria-label="Next">
          <i class="fas fa-chevron-right" aria-hidden="true"></i>
        </a>
      {% endif %}
    </div>

    <script>
      ;(function() {
        objectFitImages('#{{ id | default: "page-features" }} .carousel-item img');
      })();
    </script>

    <script src="adjust-features.js"></script>
    
  {% endif %}
{% endif %}
